.carbonForm {
  max-width: 1440px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.carbonForm > h1 {
  max-width: 36ch;
  text-align: center;
  margin: auto;
  margin-bottom: 5rem;
  color: var(--green);
  font-weight: 500;
}

.carbonForm > section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

.carbonForm button {
  border: none;
  background-color: var(--green);
  padding: 1rem 1.5rem;
  margin: auto;
  margin-top: 4rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--main);
  cursor: pointer;
  grid-column: 1/-1;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}

.carbonForm button:hover {
  filter: brightness(1.2);
}

.carbonForm button:active {
  filter: brightness(0.5);
}

@media screen and (min-width: 1130px) {
  .carbonForm > section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .carbonForm > section {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
