.formCard {
  background-color: var(--main);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formCard div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.formCard span {
  width: 24px;
  height: 24px;
  display: block;
  background-size: contain;
  cursor: pointer;
}
.formCard span svg {
  width: 100%;
  height: 100%;
}
.formCard span svg path {
  fill: var(--green);
}

.formCard span:first-of-type {
  transform: scaleX(-1);
}
.formCard span:hover {
  filter: brightness(1.5);
}

.formCard label {
  color: var(--main);
  background-color: var(--green);
  min-width: 3.5rem;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.25rem;
  padding-bottom: 0.35rem;
  font-weight: 600;
  display: block;
  margin: 0.5rem 0;
}
.formCard img {
  margin-bottom: 0.5rem;
}
/* input */
.formCard input {
  width: 8rem;
}
.formCard input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: none;
}

.formCard input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: var(--text);
  border-radius: 5px;
}
.formCard input[type="range"]::-webkit-slider-thumb {
  height: 32px;
  width: 32px;
  border: solid 4px var(--main);
  border-radius: 50%;
  background: var(--green);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  margin-top: -15px;
}

.formCard input[type="range"]:focus::-webkit-slider-runnable-track {
  filter: brightness(1.2);
}
.formCard input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: var(--text);
  border-radius: 5px;
}
.formCard input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border: solid 4px var(--main);
  border-radius: 50%;
  background: var(--green);
  cursor: pointer;
}
.formCard input[type="range"]::-moz-range-thumb:hover {
  filter: brightness(1.2);
}

.formCard input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.formCard input[type="range"]::-ms-fill-lower {
  background: var(--text);
  border: 1px solid #000000;
  border-radius: 10px;
}
.formCard input[type="range"]::-ms-fill-upper {
  background: var(--main);
  border: 1px solid #000000;
  border-radius: 10px;
}
.formCard input[type="range"]::-ms-thumb {
  height: 24px;
  width: 24px;
  border: solid 4px var(--main);
  border-radius: 50%;
  background: var(--green);
  cursor: pointer;
}
.formCard input[type="range"]:focus::-ms-fill-lower {
  background: var(--main);
}
.formCard input[type="range"]:focus::-ms-fill-upper {
  background: var(--text);
}
