.pie {
  max-width: 80%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 250px;
  min-width: 250px;
}
.pie p {
  position: absolute;
  font-size: 1rem;
  font-weight: 700;
  color: var(--green);
}

.ranking_wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  max-width: 1440px;
  margin: auto;
  padding: 2rem;
  color: var(--text);
  border-radius: 0.5rem;
  background-color: var(--main);
  align-items: center;
}

.ranking_wrapper h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.ranking_wrapper p {
  max-width: 86ch;
}

.ranking_wrapper em {
  font-weight: 700;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .ranking_wrapper {
    grid-template-columns: 1fr;
  }
}
