.ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
  padding: 0;
}
.li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--secondary);
  list-style: none;
  padding: 0.5rem 1rem;
}

.line {
  width: 2px;
  height: 25px;
  background-color: var(--text);
}

.article {
  background-color: var(--main);
  border-radius: 5px;
  color: var(--text);
  padding: 0.7rem;
}

.article > header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.totalCO2 {
  margin-right: 0;
  margin-left: auto;
  color: #fb4142;
}

.p {
  margin-block: 0.4rem;
}
