.box {
  display: flex;
  flex-flow: row;
  background-color: var(--main);
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  max-width: 600px;
  padding: 2rem 2rem;
  margin: auto;
  border-radius: 5px;
}
