.footer {
  background-color: var(--main);
  color: var(--text);
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-inline: 1rem;
  text-align: center;
}
