.Hero {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  height: 75vh;
  color: var(--green);
  line-height: 1.2;
}
.Hero > h1 {
  font-size: clamp(3rem, 10vw, 7rem);
}
