.h1,
.h2,
.h3 {
  color: var(--green);
  font-size: 3rem;
  line-height: 2rem;
  text-align: center;
  font-weight: normal;
}
.h1 {
  margin-top: 2rem;
}

.h2 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.h3 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.section {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.button {
  width: 250px;
  border: none;
  background-color: var(--green);
  padding: 1rem 1.5rem;
  margin: auto;
  margin-top: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--main);
  cursor: pointer;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}

.button:hover {
  filter: brightness(1.2);
}

.button:active {
  filter: brightness(0.5);
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 800px;
  margin-top: 2rem;
}
