.h1,
.h2,
.h3 {
  color: var(--green);
  font-size: 3rem;
  line-height: 2rem;
  text-align: center;
  font-weight: normal;
}
.h1 {
  margin-top: 2rem;
}

.h2 {
  margin-top: 4rem;
}

.h3 {
  margin-top: 4rem;
}

.section {
  display: flex;
  flex-flow: column;
  align-items: center;
}
